.modal-dialog {
    max-width: 750px !important;
    max-height: 700px;

    .modal-content {
        background: #1C1E21;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-body {
            display: flex;
            align-items: center;
            justify-content: center;

            .col-md-12, .col-lg-12, .col-sm-12 {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button {
                width: 500px;
                background-color: white;
                color: black;
                border-radius: 4px;
                border: none;
            }
        }
    }
}

