@import "./variables";

.navbar {
    background: $primaryBackground;
    height: 50px;
    padding: 0;

    .navbar-brand {
        padding: 15px 0px;
    }

    img {
        background: $primaryBackground;
    }
}

