@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=DotGothic16&display=swap');

.scoreboard {
	display: flex;
	justify-content:center; 
	align-items: center;
    flex-direction: column;
    width: 300px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
	background: #262c37;
	padding: 40px 20px 40px 20px;
	backdrop-filter: blur(5px);
    
    h1 {
        font-size: 28px;
        margin: auto;
        font-family: 'Chango', sans-serif;
    }

    p {
        color: #FED20D !important;
        font-size: 45px;
        margin: auto;
        font-weight: 500;
        font-family: 'DotGothic16', sans-serif;
    }
}

.scoreboard-warning {
    background-color: #d79229;
    display: flex;
	justify-content:center; 
	align-items: center;
    flex-direction: column;
	width: 300px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
    padding: 40px 20px 40px 20px;
	backdrop-filter: blur(5px);

    h1 {
        font-size: 28px;
        margin: auto;
        font-family: 'Chango', sans-serif;
    }

    p {
        color: white !important;
        font-size: 45px;
        margin: auto;
        font-weight: 500;
        font-family: 'DotGothic16', sans-serif;
    }
}

.scoreboard-danger {
    background-color: #C85562;
    display: flex;
	justify-content:center; 
	align-items: center;
    flex-direction: column;
	width: 300px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
    padding: 40px 20px 40px 20px;
	backdrop-filter: blur(5px);

    h1 {
        font-size: 28px;
        margin: auto;
        font-family: 'Chango', sans-serif;
    }

    p {
        color: #FED20D !important;
        font-size: 45px;
        margin: auto;
        font-weight: 500;
        font-family: 'DotGothic16', sans-serif;
    }
}
