@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}


body {
	background: #161623;
    color: white;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#f00, #f0f);
	clip-path: circle(25% at 25% 95%);
}

body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2196f3, #e91e63);
	clip-path: circle(20% at 10% 10%);
    z-index: -1;
}

/* .container-fluid {
    width: 100vw;
    min-height: 100vh;
} */


.carta {
	width: 150px;
	height: 220px;
	margin-top: 15px;
	margin-left: 15px;
    margin-right: 0px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	backdrop-filter: blur(5px);
    z-index: 1;
}


.carta p {
	font-size: 7em;
	color: #ffffff;
	font-weight: 500;
}

.glare-wrapper {
    border-radius: 15px;
    width: 150px;
}