@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}


body {
	// background: #161623;
	background-color: #01070a !important;
    color: white;
}


.next {
	background: #262c37;
	width: 170px;
	border: none;
	padding: 10px 0px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
} 

.modal-dialog {
    max-width: 480px !important;
    max-height: 700px;
}

.modal-content {
	background: #1C1E21;
	height: 400px;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 5px;
	margin: 15px 0px 0px 0px;
	justify-content: left;
}



