@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import "./assets/css/variables.scss";

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: $primaryBackground !important;
    color: white;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 5px;
	margin: 15px 0px 0px 0px;
	justify-content: left;
}



